* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* background: #F2F3F8; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.10);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px 0 20px;
    height: 8vh;
    line-height: 60px;
    border-bottom: 1px solid #eaeaea;
    position: absolute;
}
.brand {
    background-color: #fff;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    width: 15%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    background-color: #fff;
    display: flex;
    margin-left: 100px;
    /* justify-content: space-between; */
    align-items: center;
}
.menuele {
    background-color: #fff;
    font-size: 24px;
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: #000000;
}
.searchbox{
    background-color: #f6f6f6;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 8px;
}
input{
    margin-left: 10px;
    background-color: #f6f6f6;
    border: none;
}
button{
    background-color:#ececec;
    padding: 4px;
    border-radius: 4px;
    border-color: #0000008a;
}
.profile{
    background-color: #fff;
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 48px;
    left: 30px;
}
.material-symbols-outlined{
    background-color: #fff;
}
.dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuele:hover, #menuele{
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    border-bottom: #bf71fe 2px solid;
}
.searchbox:hover{
    border: 1px solid #000000;
}
input:hover{
    border: none;  
}
input:focus{
    outline: none;
    border: none;
}
#setting:hover{ 
    cursor: pointer;
    rotate: 60deg;
    transition: all 0.3s ease-in-out 0s;
}
button:hover{
    cursor: pointer;
    font-weight: 600;
    /* border: #000000 1px solid; */
}

.mainbody{
    background-color: rgba(224, 174, 208,0.2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

h2{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-left: 20px;
}
.text{
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    margin-top: 30px;
    margin-left: 20px;
}

#numStocks{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-left: 10px;
}
.buton{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-left: 10px;
    padding:8px 20px;
    border: #000000 1px solid;
    border-radius: 5px;
}
.buton:hover{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-left: 10px;
    padding:10px 20px;
    cursor: pointer;
    border: #000000 2px solid;
    border-radius: 5px;
}