/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #3bd5b9;
}
/* Add this to your CSS file */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    flex-grow: 1;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0;
        margin-bottom: 10px;
    }
}

/*going to style my graph.html page*/

#graph {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
