<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="brand">Stock Market</div>
        <div class="menu">
            <div class="menuele">Home</div>
            <div class="menuele">Stocks</div>
            <div class="menuele">Compare</div>
            <div class="menuele" id="menuelee">News</div>
        </div>
        <form action="/graph" method="get" class="searchbox">
            <input type="text" placeholder="Search Stocks" name="search" />
            <button type="submit">Search</button>
        </form>
        <div class="profile">
            <span class="material-symbols-outlined" id="setting">settings</span>
            <span class="material-symbols-outlined">notifications</span>
            <span class="dp"></span>
        </div>
    </div>

    <div class="main">
        <ul>
            {% for element in newsdata %}
                <li><a href="{{element[1]}}">
                    <div>{{element[0]}}</div>
                    <div>{{element[2]}}</div>
                </a></li>
            {% endfor %}
        </ul>

    </div>
    
    
</body>
</html>