<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Stocks</title>
</head>
<body>
    <h1>Select Stocks</h1>
    <form action="{{ url_for('compare_graph') }}" method="get">
        <!-- Use a loop to generate input fields based on the selected number of stocks -->
        {% for i in range(num_stocks) %}
            <label for="stock{{ i+1 }}">Enter Stock Symbol {{ i+1 }}:</label>
            <input type="text" id="stock{{ i+1 }}" name="stock{{ i+1 }}" required />
        {% endfor %}
        <input type="submit" value="Compare">
    </form>
</body>
</html>
